/RestauranteFinal/.vs/
/RestauranteFinal/RestauranteFinal/bin/
/RestauranteFinal/RestauranteFinal/obj/
/RestauranteFinal/RestauranteFinal/obj/Debug
RestauranteFinal/RestauranteFinal/obj/
/RestauranteFinal/XunitTest/bin/
/RestauranteFinal/XunitTest/obj/
/RestauranteFinal/publish/
/RestauranteFinal/.vagrant/
/RestauranteFinal/RestauranteFinal/.vagrant/
RestauranteFinal/RestauranteFinal/Dockerfile_BACKUP_1640
RestauranteFinal/RestauranteFinal/Dockerfile_BASE_1640
RestauranteFinal/RestauranteFinal/Dockerfile_LOCAL_1640
RestauranteFinal/RestauranteFinal/Dockerfile_REMOTE_1640
RestauranteFinal/obj/

RestauranteFinal\obj\