/RestauranteFinal/.vs/
/RestauranteFinal/TMS/bin/
/RestauranteFinal/TMS/obj/
/RestauranteFinal/XunitTest/bin/
/RestauranteFinal/XunitTest/obj/
/RestauranteFinal/publish/
/RestauranteFinal/.vagrant/
/RestauranteFinal/RestauranteFinal/.vagrant/
RestauranteFinal/RestauranteFinal/Dockerfile_BACKUP_1640
RestauranteFinal/RestauranteFinal/Dockerfile_BASE_1640
RestauranteFinal/RestauranteFinal/Dockerfile_LOCAL_1640
RestauranteFinal/RestauranteFinal/Dockerfile_REMOTE_1640
